@model NotEnoughBooks.Core.Models.BookResult

@{
    ViewData["Title"] = "Edit Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Success)
{
    <h4>Book not found</h4>
    <a asp-controller="Book" asp-action="Index">Go to list</a>
}
else
{
    <form asp-action="Edit" method="post" asp-route-id="">
        @{
            await Html.RenderPartialAsync("BookForm", Model);
        }
    </form>
    <button class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
}

<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you really want to delete this?<br/>This can not be undone
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Book.Id">Delete</a>
            </div>
        </div>
    </div>
</div>
