@model NotEnoughBooks.Core.Models.Book

@{
    ViewData["Title"] = "GetBookInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetBookInfo</h1>

<h4>Book</h4>
<hr/>
<div class="row">
    <div>
        <form asp-action="SaveBook" method="post">
            @{
                await Html.RenderPartialAsync("BookForm", Model);
            }
        </form>
    </div>
</div>

@* <div> *@
@*     <a asp-action="Index">Back to List</a> *@
@* </div> *@

@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
