@model NotEnoughBooks.Core.Models.Book

@{
    ViewData["Title"] = "GetBookInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetBookInfo</h1>

<h4>Book</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveBook" method="post">
            <div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id"/>
                <div class="form-floating mb-3">
                    <input asp-for="Isbn" class="form-control"/>
                    <label asp-for="Isbn" class="control-label">ISBN</label>
                    <span asp-validation-for="Isbn" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Title" class="form-control"/>
                    <label asp-for="Title" class="control-label"></label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Authors" class="form-control"/>
                    <label asp-for="Authors" class="control-label"></label>
                    <span asp-validation-for="Authors" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ImagePath" class="form-control"/>
                    <label asp-for="ImagePath" class="control-label">Image Url</label>
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Published" type="date" class="form-control"/>
                    <label asp-for="Published" class="control-label">Published</label>
                    <span asp-validation-for="Published" class="text-danger"></span>
                </div>
                <div class="input-group mb-3">
                    <label asp-for="Price" class="control-label"></label>
                    <input type="number" data-decimals="2" step="0.01" asp-for="Price" class="form-control"/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div>
                <img src="@Model.ImagePath" style="max-width: 100%" alt="Cover"/>
            </div>
            <div class="form-floating">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@* <div> *@
@*     <a asp-action="Index">Back to List</a> *@
@* </div> *@

@section Scripts {
    <script type="module">
        import {InputSpinner} from "/js/InputSpinner.js"

        const inputSpinnerElements = document.querySelectorAll("input[type='number']")
        for (const inputSpinnerElement of inputSpinnerElements) {
            new InputSpinner(inputSpinnerElement)
        }
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
