@using NotEnoughBooks.Core.Models
@model IEnumerable<NotEnoughBooks.Core.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="ms-2">Index</h1>
<hr />
<div class="d-flex">
    @foreach (Book book in Model)
    {
        <a asp-action="Edit" asp-route-id="@book.Id" class="text-decoration-none flex-lg-grow-1" style="width: 15rem">
            <div class="card m-2">
                <img src="@book.ImagePath" class="card-img-top" alt="Cover" />
                <div class="card-body">
                    <p class="card-text">@book.Title</p>
                </div>
            </div>
        </a>
    }
</div>