@using NotEnoughBooks.Core.Models
@model IEnumerable<NotEnoughBooks.Core.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="ms-2">Index</h1>
<hr />
<div class="d-flex flex-wrap">
    @foreach (Book book in Model)
    {
        <a asp-action="Edit" asp-route-id="@book.Id" class="book-card text-decoration-none m-2" style="">
            <div class="card">
                <img src="@book.ImagePath" class="card-img-top img-fluid" style="aspect-ratio: 0.7; object-fit: cover" alt="Cover" />
                <div class="card-body" >
                    <p class="card-text">@book.Title</p>
                </div>
            </div>
        </a>
    }
</div>