@model bool
@{
    ViewData["Title"] = Model ? "Book Saved" : "Book Not Saved";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="mb-2">Book saved</p>
<a class="btn btn-primary mb-2" asp-action="Index">Go to list</a>
<a class="btn btn-secondary" asp-action="AddBook">Add another Book</a>